@font-face {
    font-family: 'Outfit';
    src: url(https://fonts.google.com/specimen/Outfit);
}

*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

div.qrcodecomponent {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 430px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

div.qrcode {
    background-image: url(images/image-qr-code.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    overflow: hidden;
    width: 225px;
    height: 225px;
    margin: 12.5px;
    border-radius: 20px;
}

div.description {
    padding: 5px 0;
}

div.description h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 15px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

div.description p {
    font-size: 15px;
    font-weight: 400;
    margin: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
}